.root {
    -fx-background-color: #F4EFEA;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

.label {
    -fx-text-fill: #1A0D00;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.text-field, .text-area, .choice-box {
    -fx-background-color: #FBF9F6;
    -fx-background-radius: 5px;
    -fx-border-color: #C2B4A6;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #4A3B32;
    -fx-prompt-text-fill: #C0B7B1;
}

/* Khung upload ảnh nét đứt màu xanh phối hợp căn giữa */
.image-upload-container {
    -fx-border-color: #4A80E6;
    -fx-border-style: dashed;
    -fx-border-width: 1.5px;
    -fx-border-radius: 6px;
    -fx-background-color: transparent;
    -fx-alignment: CENTER; /* Đưa icon và chữ vào chính giữa khung */
    -fx-spacing: 5px;
}

#cancelButton {
    -fx-background-color: #EAE5DF;
    -fx-background-radius: 6px;
    -fx-text-fill: #4F6DAB;
    -fx-font-weight: bold;
    -fx-padding: 8px 30px;
}

#createListingButton {
    -fx-background-color: #4A80E6;
    -fx-background-radius: 6px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 25px;
}